@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

/*
TODO: Оптимизировать код
 Помни: DRY (Don't Repeat Yourself)
*/
/*
TODO: по фасту сделать media query
*/
:root {
    --main-color: #FDEEDC;
    --second-color: #FFD8A9;
    --third-color: #F1A661;
    --fourth-color: #E38B29;
}

body {
    margin: 0;
    padding: 0;
    background: var(--main-color);
    font-family: 'Schibsted Grotesk', sans-serif;
}

.logo {
    width: 3.5%;
    float: left;
}

.main_block h1 {
    float: left;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fourth-color);
    padding: 20px;
}

.main_block {
    flex: 2;
}

nav {
    flex: 3;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {

    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #fff;
    color: var(--fourth-color);
}
.category-name {
    display: block;
    text-align: center;
    margin: 20px;
}
.category-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px 20px;
    padding: 15px;
    margin: 10px 25px;
}

.pizza-item {
    display: flex;
    flex-basis: calc(24% - 10px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Schibsted Grotesk', sans-serif;
    padding: 5px;
    background: #fcfcfc;
    border-radius: 20px;

    -webkit-box-shadow: 6px 12px 18px 1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 6px 12px 18px 1px rgba(0, 0, 0, 0.31);
    box-shadow: 6px 12px 18px 1px rgba(0, 0, 0, 0.31);
}

.pizza-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}
.pizza-item img:hover {
    transform: scale(1.05);
}

button {
    background-color: #fff;
    color: var(--third-color);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #e0d3cd;
    color: var(--third-color);
}

.price {
    font-size: 34px;
}

footer {

    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}